@font-face {
    font-family: 'Train One';
    src: url('../fonts/trainOne/TrainOne-Regular.eot');
    src: url('../fonts/trainOne/TrainOne-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/trainOne/TrainOne-Regular.woff2') format('woff2'),
         url('../fonts/trainOne/TrainOne-Regular.woff') format('woff'),
         url('../fonts/trainOne/TrainOne-Regular.ttf') format('truetype'),
         url('../fonts/trainOne/TrainOne-Regular.svg#TrainOne-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter 28pt';
    src: url('../fonts/inter/Inter28pt-SemiBold.eot');
    src: url('../fonts/inter/Inter28pt-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/inter/') format('woff2'),
         url('../fonts/inter/Inter28pt-SemiBold.woff') format('woff'),
         url('../fonts/inter/Inter28pt-SemiBold.ttf') format('truetype'),
         url('../fonts/inter/Inter28pt-SemiBold.svg#Inter28pt-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: url('../fonts/inter/Inter18pt-ExtraBold.eot');
    src: url('../fonts/inter/Inter18pt-ExtraBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/inter/Inter18pt-ExtraBold.woff2') format('woff2'),
         url('../fonts/inter/Inter18pt-ExtraBold.woff') format('woff'),
         url('../fonts/inter/Inter18pt-ExtraBold.ttf') format('truetype'),
         url('../fonts/inter/Inter18pt-ExtraBold.svg#Inter18pt-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('../fonts/inter/Inter24pt-Light.eot');
    src: url('../fonts/inter/Inter24pt-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/inter/Inter24pt-Light.woff2') format('woff2'),
         url('../fonts/inter/Inter24pt-Light.woff') format('woff'),
         url('../fonts/inter/Inter24pt-Light.ttf') format('truetype'),
         url('../fonts/inter/Inter24pt-Light.svg#Inter24pt-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: url('../fonts/inter/Inter18pt-Bold.eot');
    src: url('../fonts/inter/Inter18pt-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/inter/Inter18pt-Bold.woff2') format('woff2'),
         url('../fonts/inter/Inter18pt-Bold.woff') format('woff'),
         url('../fonts/inter/Inter18pt-Bold.ttf') format('truetype'),
         url('../fonts/inter/Inter18pt-Bold.svg#Inter18pt-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


