*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
ul{
    list-style: none;
}
header {
    background-color: #398E8A;
    position: fixed;
    width: 1200px;
    z-index: 100;
}
.conteiner {
    width: 1200px;
    height: 100vh;
    margin: 0 auto;
}
nav {
    display: flex;
    justify-content: space-around;
    padding: 12.5px;
}
ul {
    display: flex;
    width: 610px;
    justify-content: space-between;
    align-items: center;

}
li {
    color: white;
    font-family: 'Inter 28pt';
}
.nav-div {
    display: flex;
    align-items:center;
    width: 260px;
    height: 62px;
    border: 2px solid #D4BFEC;
    border-radius:27px ;
}
.nav-div > img {
    width: 28px;
    height: 25px;
    margin-left: 35px;
    margin-right: 25px;
}
.nav-div > p {
    color: white;
    font-family: 'Inter 28pt';
}
.sec1 {
    position: relative;
    height: 920px;
    background-color: #074643;
    display: flex;

    top: 80px;
}
.sec1-div1 {
    position: absolute;
    top: 255px;
    left: 72px;
}
h1 {
    font-size: 59px;
    color: white;
    font-family: 'Train One';
}
.sec1-div1 > h2 {
    color: white;
    font-size: 66px;
    font-family: 'Inter 18pt';
    
}
.sec1-div1 > p {
    color: white;
    font-family: 'Inter 24pt';
    width: 517px;
    font-size: 31px;
    margin-top: 1px;
}
.box {
    display: flex;
    margin-top: 48px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.black-box {
    width: 225px;
    height: 60px;
    background-color: #101C1B;
    border-radius:27px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.black-box > p {
    color: white;
    font-size: 16px;
    
    
}
.box > p {
    font-family: 'Inter 18pt';
    color: white;
    font-size: 22px;
}
.green-box {
    width: 15px;
    height: 15px;
    border-radius: 100px;
    background-color: #00CF75;
    color: white;
    font-family: ;
}
.sec1-div2{
    position: absolute;
    top: 141px;
    right: 97px;
}
.div2-child {
    width: 240px;
    height: 230px;
    background-color: white;
    border: 2px solid black;
    border-radius: 50px;
    position: absolute;
    top: 320px;
    right: 233px;
}
.div2-child > h2 {
    font-size: 77px;
    text-align: center;
    font-family: 'Inter 18pt';

}
.div2-child > p {
    width: 145px;
    font-size: 26px;
    margin-left: 53px;
    margin-top: 8px;
}
.section-2 {
    position: absolute;
    top: 1040px;
    width: 1200px;
}
.sec2-mbox1 {
    display: flex;
    margin-left: 73px;
}
.mbox1-box1 {
    width: 470px;
}

.mbox1-box1 >h2 {
    font-family: 'Inter 18pt'; 
    font-size: 50px;
}
.mbox1-box1 > p {
    font-size: 29px;
    font-family: 'Inter 24pt';
}
.mbox1-box2 {
    width: 535px;
}
.mbox1-box2 > p {
    font-size: 20px;
    line-height: 32px;
    font-family: 'Inter 24pt';
    margin-left: 62px;
}
.sec2-box2 {
    display: flex;
    width: 1200px;
    margin-left: 73px;
    margin-top: 120px;
}
.download-div{
    display: flex;
    align-items:center;
    justify-content: center;
    width: 250PX;
    height: 62px;
    background-color: black;
    border-radius:27px;
}
.download-div > p {
    color:white;
}
.icon-div {
    width: 180px;
    margin-left: 40px;
    margin-right: 170px;
}
.icon-div > img {
    margin-right: 5px;
    width: 50px;
    height: 50px;
}
.name-div {
    position: relative;
    width: 304px;
    height: 130px;
}
.name {
    position: absolute;
    top: -70px;
    left: 0;
    font-family: 'Whisper';
    font-size: 81px;
}
.lastname {
    position: absolute;
    font-family: 'Whisper';
    font-size: 81px;
    left: 70px;
}
